body {
  background-color: #FF9800;
  color: black;
}

.vertical-container {
  height: 300px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

h1.vertical-container {
  font-size: 275%;
}

#tiles-board {
  height: calc(100vh - 48px);
  width: 100vw;
  padding: 2%;
  margin: auto;
  background: white;
  cursor: pointer;
}

#count {
  font-size: 12vmin;
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
